.container, .calendarcard .header, .current, .days, .eventcard .header{
    display: flex;
}

.container{
    align-items: flex-start;
    flex-wrap:wrap;
}

.calendarcard, .days div, .eventcard, .current img{
    padding: 5px;
}

.calendarcard{
    border: 1px solid gray;
    width: 402.15px;
    border-radius: 5px;
}

.calendarcard .header, .eventcard .header{
    padding : 5px 15px;
    border-radius: 5px 5px 0 0;
}

.calendarcard .header, .eventcard .header, .current{
    align-items: center;
}

.calendarcard .header{
    background-image: linear-gradient(to right, white, lightblue);
    font-size: 30px;
    text-align: left;
}

.header img{
    height: 30px;
    margin-right: 10px;
}

.calendar{
    background-color: white;
}

.current{
    padding: 0 10px;
    justify-content: space-between;
}

.current img{
    height: 20px;
    cursor: pointer;
}

.current h2{
    cursor: pointer;
    flex: 0.9;
}

.days div{
    width: 14%;
    font-weight:500;
}

.eventcard{
    flex : 1;
    text-align: left;
}
.eventcard .header{
    background-image: linear-gradient(to right, white, rgb(255, 80, 60));
    font-size: 20px;
}

.currentdate{
    text-align: center;
    flex: 1;
    color: seashell;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: royalblue;
    border-radius: 50px;
}
.currentdate h1{
    margin: 20px;
    font-size: 100px;
    display: inline;
}
.currentdate *:nth-child(2){
    font-size: 30px;
    display: inline;
}
.currentdate *:last-child{
    font-size: 40px;
}

.month{
    display: flex;
    flex-wrap: wrap;
}
.dates, .disable{
    border-radius: 10px;
    height: 47.46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 47.46px;
}
.dates:hover{
    color: white;
    background-color: skyblue;
    cursor: pointer;
}

.inputevent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
.inputevent > input{
    width: 70%;
    height: 100%;
    font-size: 20px;
    outline: 0;
    border: none;
    border-bottom: 1px solid gray;
}
.inputevent button{
    border: 1px solid rgb(39, 162, 199);
    border-radius: 10px;
    font-weight: 800;
    height: 100%;
    width: 16%;
    cursor: pointer;
}

.event{
    border:1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.event div:first-child{
    font-size: 20px;
}

@media screen and (max-width:450px) {
    .calender{
        width: 100%;
        margin-bottom: 20px;
    }
    .dates, .disable{
        border-radius: 10px;
        width: 11.52%;
        height: 41.66px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .eventcard{
        width: 100%;
    }
}