.container{
    display: flex;
    flex-wrap:wrap;
}

.calendarcard{
    border: 1px solid gray;
    width: 402.15px;
    border-radius: 5px;
    padding: 5px;
}

.calendarcard .header{
    background-image: linear-gradient(to right, white, lightblue);
    padding : 5px 15px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    font-size: 30px;
    text-align: left;
}
.header > img{
    height: 30px;
    margin-right: 10px;
}

.current{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}
.current > img{
    padding: 5px;
    height: 20px;
    cursor: pointer;
}
.current h2{
    cursor: pointer;
    flex: 0.9;
}

.days, .month{
    display: flex;
}
.days > div{
    width: 14%;
    font-weight:500;
    padding: 5px;
}

.month{
    flex-wrap: wrap;
}

.dates, .disable{
    border-radius: 10px;
    height: 47.46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 47.46px;
}
.dates:hover{
    color: white;
    background-color: skyblue;
    cursor: pointer;
}
.active{
    color: snow;
    background-color: royalblue;
}
.disable{
    color: slategrey;
}

.event{
    padding: 5px;
    flex : 1;
    text-align: left;
}
.event .header{
    background-image: linear-gradient(to right, white, rgb(255, 80, 60));
    padding : 5px 15px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.events{
    border:1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.events div :first-child{
    font-size: 20px;
}

@media screen and (max-width:450px) {
    .calender{
        width: 100%;
        margin-bottom: 20px;
    }
    .dates, .disable{
        border-radius: 10px;
        width: 11.52%;
        height: 41.66px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .event{
        width: 100%;
    }
}